
.container {
    height: 40vh;
    background-color: #F2F2F2 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.title {
    color: #ff0e2a;
    font-size: 2.5em;
    font-weight: 600;
}
